:host(#book-shadow-host)::before {
    content: ' ';
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    background: radial-gradient(circle, #FFD800 35%, #7902AA 35%, #7902AA 40%, #FFD800 40%);
}