html {
    scroll-behavior: smooth;
}
body {
    /*font-family: 'Inter', sans-serif;*/
    font-family: "Roboto", sans-serif;
    /*font-family: 'Montserrat', sans-serif;*/
    margin: 0;
    padding: 0;
    background-color: #e3e3e3;
    color: #888888;
}
header {
    background-color: #e3e3e3;
    color: #afafaf;
    padding: 2rem 1rem;
    width: 250px;
    min-height: 100vh;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logo {
    height: 100px;
}
header h1 {
    margin: 0;
    color: #878787;
    cursor: default;
}
nav {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
nav a {
    color: #a5a5a5;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    transition: color 0.2s ease-in-out;
}
nav a:hover {
    color: #b1b1b1;
}
/*class for burger button*/
#burger-button {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #888;
}
/* container for all the page content sections */
#page-content {
    margin-left: 250px;
    width: auto;
}
#page-content img {
    max-width: 70vw;
}
/* settings for screens smaller than 1kpx (bring sidebar to top) */
@media screen and (max-width: 1000px) {
    body {
        flex-direction: column;
    }

    header {
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        position: fixed;
        min-height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0.25rem 1rem;
        z-index: 1000;
        background: #e3e3e3;
    }

    #navbar {
        flex-direction: row;
        width: auto;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 0;
    }

    #page-content {
        margin-left: 0;
        margin-top: 1.5rem;
        width: 100%;
    }
}
/* settings for mobile screens (add burger menu)*/
@media screen and (max-width: 700px) {
/*    put in a burger menu for nav for screens smaller than this*/
    #burger-button {
        display: block;
        z-index: 1001;
    }

    #navbar {
        display: none;
        flex-direction: column;
        width: auto;
        padding: 1rem 1rem;
        background-color: #e3e3e3;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 1000;

    }

    #navbar.show {
        display: flex;
        flex-wrap: wrap;
    }

    header {
        flex-wrap: wrap;
    }

    #page-content {
        padding-top: 2rem;
    }
}

.section {
    padding: 1rem 2rem;
    max-width: 1200px;
    margin: 0;
}
/* style links inside content sections */
.section a {
    color: #595959;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
}
.section a:hover {
    color: #b6b6b6;
}
.section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    cursor: default;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 1.5rem;
}
.gallery-item {
    position: relative;
    overflow: hidden;
}
.gallery-item img {
    width: 100%;
    max-width: 100vw;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.pixel-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}
.pixel-gallery img {
    image-rendering: pixelated;
    width: 100px;
    height: auto;
}
.pixel {
    image-rendering: pixelated;
    width: max(100px, 200px) !important;
}
/* class to hide all sections on page load except home. */
.hidden {
    display: none !important;
}
/* class to highlight the currently selected navigation menu tab. */
.active {
    color: #888888;
}
.active:hover {
    color: #5c5c5c;
}
#image-viewer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    /*padding: 4rem 2rem;*/
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background: white;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*z-index: 999;*/
}
#image-viewer img {
    max-width: min(900px, 80vw);
    max-height: 80vh;
    width: auto;
    height: auto;
}
/* class for the close viewer button*/
#close-viewer {
    position: absolute;
    top: 1rem;
    left: 1rem;
    /*margin-bottom: 20px;*/
    color: #595959;
    font-size: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1;
}